@using System.Net
@using Forecaster.Models.Enums
@using Forecaster.Models.OpenWeather.Partial
@using Forecaster.Services
@using Forecaster.Utils
@using Serilog
@model (Forecaster.Models.OpenWeather.CityWeather CurrentWeather, System.Net.HttpStatusCode Code)
@{
    ViewData["Title"] = "XD";
    var weather = Model.Item1.Weather.First();
}

<div class="text-center">
    @switch(Model.Code)
    {
        case HttpStatusCode.OK:
            <div id="weather-header">
                <div class="location">
                    <h1>@Model.Item1.Name</h1>
                    <p>@Model.Item1.GetCountry()</p>
                </div>
                <div id="coordinates">
                    <p>@Model.Item1.Coordinates.GetCoordsDirections(true)</p>
                    <p>@Model.Item1.Coordinates.GetCoordsDirections(false)</p>
                </div>
            </div>
            <div id="weather-body">
                <div>
                    <div>
                        <img src="@Model.Item1.GetIconSourceUri(true)", alt="@weather?.Description">
                        <p>@weather.Description.Capitalize()</p>
                    </div>
                    <div>
                        <p>@Model.Item1.GetFormattedTemperature()</p>
                        <p>@Model.Item1.GetFormattedFeelsLikeTemperature()</p>
                    </div>
                    <div>
                        <p>min. @Model.Item1.GetFormattedMinTemperature()</p>
                        <p>max. @Model.Item1.GetFormattedMaxTemperature()</p>
                    </div>
                </div>
            </div>
            break;
        case HttpStatusCode.NotFound:
            <p>This location doesn`t exist</p>
            break;
        default:
            <p>Something went wrong. Try again.</p>
            break;
    }

</div>
